<div *ngIf="(field.cinchyColumn.dataType === 'Yes/No' && field.cinchyColumn.canView)">
  <fa-icon [icon]="faCheckSquare"></fa-icon>
  &nbsp;
  <input class="m-tb-10 mr-5" type="checkbox"
         [(ngModel)]="value" [ngModelOptions]="{ standalone: true }"
         [disabled]="!canEdit"
         [id]="field.label"
         (change)="valueChanged()" />
  <div class="checkbox-field">
    <label class="pre-formatted" [for]="field.label" [title]="field.caption || ''">
      {{field.label}}
      {{(field.cinchyColumn.isMandatory && !field.hasValue) ? '*' : ''}}
    </label>

    <mat-icon *ngIf="field.caption" class="info-icon-checkbox"
              ngbTooltip="{{field.caption}}"
              placement="auto"
              container="body"
              matTooltipClass="tool-tip-body"
              matTooltipPosition="above">
      info
    </mat-icon>
  </div>
  <mat-error *ngIf="showError && field.cinchyColumn.isMandatory && !field.hasValue">
    *{{field.label}} is Required.
  </mat-error>
</div>
