<div *ngIf="options">
  <div class="full-width-element divMarginBottom">
    <div class="link-labels">
      <div>
        <fa-icon [icon]="faListUl"></fa-icon>
      </div>
      &nbsp;
      <label class="cinchy-label" [title]="field.caption ?? ''">
        {{field.label}}
        {{field.cinchyColumn.isMandatory && !field.hasValue ? '*' : ''}}
      </label>
      <mat-icon *ngIf="field.caption" class="info-icon"
                ngbTooltip="{{field.caption}}"
                placement="auto"
                container="body"
                matTooltipClass="tool-tip-body"
                matTooltipPosition="above">
        info
      </mat-icon>
    </div>
    <div class="full-width-element divMarginBottom" *ngIf="canEdit">
      <mat-select class="single-select form-control"
                  [(ngModel)]="value"
                  (selectionChange)="valueChanged()"
                  [ngModelOptions]="{ standalone: true }">
        <mat-option [value]="">-</mat-option>
        <mat-option *ngFor="let opt of options" [value]="opt">
          {{ opt }}
        </mat-option>
      </mat-select>
    </div>

    <ng-container *ngIf="!canEdit">
      <label class="font-14" [innerHTML]="value || '-'"></label>
    </ng-container>
  </div>

  <!-- isMandatory Validator-->
  <mat-error class="mat-error-move-up-19"
             *ngIf="showError && (field.cinchyColumn.isMandatory && !value)">
    *{{field.label}} is Required.
  </mat-error>
</div>
