<section *ngIf="assignedSeat; else successBox">
  <mat-card class="text-center column-styled">
    <h2>Workplace Details</h2>
  </mat-card>

  <div class="success-wrapper">
    <div class="flex-wrapper">
      <mat-card class="left-border success-column">
        <img [src]="mapPath" alt="map">
        <div>
          <h5>OneEleven</h5>
          <h5>325 Front Street West</h5>
          <h5>Toronto, Ontario</h5>
        </div>
      </mat-card>

      <mat-card class="success-column">
        <div class="column-styled">
          <h5>KEY INFORMATION</h5>
          <div>
            <span class="bold-values">Shift Length</span>
            <div class="styled-div">
              <span>{{seatDetails['Shift Length']}}</span>
            </div>
          </div>

          <div>
            <span class="bold-values">Seating Location</span>
            <div class="styled-div">
              <span>Floor {{seatDetails['Floor']}},  <span>Desk {{assignedSeat}}</span></span>
            </div>
          </div>
        </div>
        <img [src]="seatPath" alt="seatSelection">
      </mat-card>

      <mat-card class="success-column">
        <div class="column-styled">
          <h5>SPECIAL INSTRUCTIONS</h5>
          <div class="styled-div"><span>{{seatDetails['Special Instructions Elevator']}}</span></div>
          <div class="styled-div"><span>{{seatDetails['Special Instructions Stairwell']}}</span></div>
          <div class="styled-div"><span>{{seatDetails['Special Instructions Other']}}</span></div>
        </div>

        <div class="column-styled">
          <h5>FOR QUESTIONS</h5>
          <div class="bg-div">
            <p>Please contact the office administrator, Jenn McGill</p>
            <p>jenn.mcgill@cinchy.com</p>
            <p>416-679-9383</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</section>

<ng-template #successBox>
  <h2>Saved successfully</h2>
</ng-template>
