<div *ngIf="options">
  <div class="full-width-element divMarginBottom">
    <div class="link-labels">
      <div>
        <fa-icon [icon]="faListUl"></fa-icon>
      </div>
      &nbsp;
      <label class="cinchy-label" [title]="field.caption ?? ''">
        {{ field.label }}
        {{ (field.cinchyColumn.isMandatory && !value) ? '*' :'' }}
      </label>
      <mat-icon *ngIf="field.caption"
        class="info-icon"
        ngbTooltip="{{field.caption}}"
        placement="auto"
        container="body"
        matTooltipClass="tool-tip-body"
        matTooltipPosition="above">
        info
      </mat-icon>
    </div>
    <div class="full-width-element divMarginBottom" *ngIf="canEdit">
      <mat-select multiple
          class="form-control"
          [(ngModel)]="value"
          [ngModelOptions]="{ standalone: true }"
          (openedChange)="resetFilter()"
          (selectionChange)="valueChanged()">
        <mat-option>
          <ngx-mat-select-search [formControl]="filterCtrl"
                                 [showToggleAllCheckbox]="true"
                                 (toggleAll)="toggleSelectAll($event)"
                                 noEntriesFoundLabel="No entries matched your search"
                                 placeholderLabel="Search...">
          </ngx-mat-select-search>
        </mat-option>

        <mat-option
          *ngFor="let option of displayOptions | async"
          [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </div>

    <ng-container *ngIf="!canEdit">
      <label class="font-14" [innerHTML]="value || '-'"></label>
    </ng-container>
  </div>

  <!-- isMandatory Validator-->
  <mat-error class="mat-error-move-up-19"
             *ngIf="showError && (field.cinchyColumn.isMandatory && !field.hasValue)">
    *{{field.label}} is Required.
  </mat-error>
</div>
