<div class="sidenav" [ngClass]="{'hide-show': toggleMenu}">
  <div class="sidenav-options">
    <h6 class="m-b-10">
      Form Sections

      <!-- DEBUG -->
      <div>selectedSection: {{ selectedSection }}</div>
    </h6>
    <div class="sidenav-option">
      <div class="mt-10">
        <ul>
          <li *ngFor="let section of formSectionsMetadata" (click)="sectionClicked(section)">
            <div class="bullet-point" [class.bullet-point--selected]="isSelected(section.name)"></div>
            <span class="section-item" [class.section-item--selected]="isSelected(section.name)">
              {{section.name}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="useful-links-wrapper">
    <hr>
    <p class="link-with-icon" *ngIf="createNewEntityLabel" (click)="openAddNewOptionDialog()">
      <mat-icon>queue</mat-icon>
      <span>Add {{createNewEntityLabel}}</span>
    </p>
  </div>

  <mat-icon class="collapse-sidebar-icon" (click)="closeSideBar.emit()">arrow_back_ios</mat-icon>
</div>
