.add-new-contact-wrapper{
  .two-children-flex{
    mat-form-field{
      margin-right: 10px;
    }
  }

  .flex-100 > * {
    flex-basis: 100%;
  }

  .link-buttons{
    margin: 10px;
    text-align: right;
  }
}
