<div class="add-new-contact-wrapper">
  <div *ngIf="!isContactAdded else contactAdded;">
    <h1 class="text-center">
      ADD NEW CONTACT  <mat-icon> contacts</mat-icon>
    </h1>

    <form [formGroup]="contactsForm">
      <div class="two-children-flex">
        <mat-form-field appearance="outline">
          <mat-label>First Name:</mat-label>
          <input matInput formControlName="firstName"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name:</mat-label>
          <input matInput formControlName="lastName"/>
        </mat-form-field>
      </div>

      <div class="two-children-flex">
        <mat-form-field appearance="outline">
          <mat-label>Email:</mat-label>
          <input matInput formControlName="email"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Title:</mat-label>
          <input matInput formControlName="title"/>
        </mat-form-field>
      </div>

      <div class="two-children-flex flex-100">
        <app-typeahead formControlName="company" [customPlaceholder]="'Company'" [showToolTip]="false"
                       [fullList]="allCompanies" [showReadOnly]="false" [showAddNewContact]="false"
                       [charactersAfterWhichToShowList]="3">
        </app-typeahead>
      </div>
    </form>

    <div class="link-buttons">
      <button mat-raised-button [disabled]="!contactsForm.valid" (click)="addContact()">Add</button>
    </div>
  </div>
</div>

<ng-template #contactAdded>
  <div class="text-center">
    <h4>Perfect! New Contact is added. Click 'OK' and then you can use it to select.</h4>
    <button mat-raised-button (click)="closeDialog()">Ok</button>
  </div>
</ng-template>
