<div class="add-rich-text-link-dialog">
  <h1 mat-dialog-title>
    Set the Options for your Link
  </h1>

  <div mat-dialog-content>
    <form>
      <div class="full-width-element divMarginBottom relative-pos">
        <div class="link-labels">
          <div>
            <fa-icon [icon]="icons.faFont"></fa-icon>
          </div>
          &nbsp;
          <label class="cinchy-label" for="linkText">
            Link Text
          </label>
        </div>
        <mat-form-field class="form-control">
          <input matInput
                 id="linkText"
                 type="text"
                 name="link-text"
                 [(ngModel)]="content" />
        </mat-form-field>
      </div>

      <div class="full-width-element divMarginBottom relative-pos">
        <div class="link-labels">
          <div>
            <fa-icon [icon]="icons.faLink"></fa-icon>
          </div>
          &nbsp;
          <label class="cinchy-label" for="linkHref">
            Target URL
          </label>
        </div>
        <mat-form-field class="form-control">
          <input matInput
                 id="linkHref"
                 type="text"
                 name="link-href"
                 [(ngModel)]="href" />
        </mat-form-field>
      </div>

      <div class="full-width-element divMarginBottom relative-pos">
        <div class="link-labels">
          <div>
            <fa-icon [icon]="icons.faSquareCheck"></fa-icon>
          </div>
          &nbsp;
          <label class="cinchy-label" for="linkTargetBlank">
            Open Target in a new window?
          </label>
        </div>
        <mat-checkbox id="linkTargetBlank"
                type="text"
                name="link-target-blank"
                [(ngModel)]="targetBlank">
          </mat-checkbox>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button type="button"
            mat-button
            cdkFocusInitial
            color="primary"
            [disabled]="!canSave"
            (click)="saveLinkDetails()">
      Confirm
    </button>

    <button type="button" mat-button color="warn" (click)="cancel()">Cancel</button>
  </div>
</div>
