<div *ngIf="(field.cinchyColumn.dataType === 'Link' && field.cinchyColumn.canView)" class="full-width-element divMarginBottom">
  <div class="m-b-10">
    <div class="link-labels">
      <div>
        <fa-icon [icon]="field.cinchyColumn.tableId === field.cinchyColumn.linkTargetTableId ? faSitemap : faShareAlt"></fa-icon>
      </div>
      &nbsp;
      <label class="cinchy-label" [title]="field.caption ?? ' '">
        {{field.label}}
        {{(field.cinchyColumn.isMandatory && !field.hasValue) ? "*" : ""}}
      </label>
      <span *ngIf="canAdd">
        <a (click)="openNewOptionDialog()">
          <fa-icon [icon]="faPlus" class="plusIcon btn-dynamic-child"></fa-icon>
        </a>
      </span>
      <mat-icon *ngIf="charactersAfterWhichToShowList"
                class="info-icon"
                [matTooltip]="tooltipText"
                matTooltipClass="tool-tip-body"
                matTooltipPosition="above">
        error
      </mat-icon>
      <mat-icon *ngIf="field.caption && field.cinchyColumn.tableId !== field.cinchyColumn.linkTargetTableId"
                class="info-icon"
                [ngbTooltip]="withcaptiont"
                placement="auto"
                container="body"
                triggers="click"
                #t="ngbTooltip"
                (mouseenter)="openTooltip(t)"
                (mouseleave)="closeTooltip(t)"
                matTooltipClass="tool-tip-body"
                matTooltipPosition="above">
        info
      </mat-icon>
      <mat-icon *ngIf="!field.caption && field.cinchyColumn.tableId !== field.cinchyColumn.linkTargetTableId"
                class="info-icon"
                [ngbTooltip]="withoutcaptiont"
                triggers="click"
                placement="auto"
                container="body"
                #t="ngbTooltip"
                (mouseenter)="openTooltip(t)"
                (mouseleave)="closeTooltip(t)"
                matTooltipClass="tool-tip-body"
                matTooltipPosition="above">
        info
      </mat-icon>
      <mat-icon *ngIf="field.caption && field.cinchyColumn.tableId === field.cinchyColumn.linkTargetTableId"
                class="info-icon"
                [ngbTooltip]="hierarchyWithCaption"
                placement="auto"
                container="body"
                triggers="click"
                #t="ngbTooltip"
                (mouseenter)="openTooltip(t)"
                (mouseleave)="closeTooltip(t)"
                matTooltipClass="tool-tip-body"
                matTooltipPosition="above">
        info
      </mat-icon>
      <mat-icon *ngIf="!field.caption && field.cinchyColumn.tableId === field.cinchyColumn.linkTargetTableId"
                class="info-icon"
                [ngbTooltip]="hierarchyWithoutCaption"
                placement="auto"
                container="body"
                triggers="click"
                #t="ngbTooltip"
                (mouseenter)="openTooltip(t)"
                (mouseleave)="closeTooltip(t)"
                matTooltipClass="tool-tip-body"
                matTooltipPosition="above">
        info
      </mat-icon>
    </div>
    <ng-template #withcaptiont>
      {{ this.field.caption }}

      <br /> <br />

      From the <b>{{ this.field.cinchyColumn.linkTargetColumnName }}</b> field in the

      <a [href]="tableSourceURL" target="_blank">{{ this.field.cinchyColumn.linkTableDataProductName }} - {{ this.field.cinchyColumn.linkTargetTableName }}</a>

      table.
    </ng-template>
    <ng-template #withoutcaptiont>
      From the <b>{{this.field.cinchyColumn.linkTargetColumnName}}</b> field in the

      <a [href]="tableSourceURL" target="_blank">{{ this.field.cinchyColumn.linkTableDataProductName }} - {{ this.field.cinchyColumn.linkTargetTableName }}</a>

      table.
    </ng-template>
    <ng-template #hierarchyWithCaption>
      {{this.field.caption}}

      <br /> <br />

      From the <b>{{ this.field.cinchyColumn.linkTargetColumnName }}</b> field in the {{ this.field.cinchyColumn.linkTableDataProductName }} - {{ this.field.cinchyColumn.linkTargetTableName }} table.
    </ng-template>
    <ng-template #hierarchyWithoutCaption>
      From the <b>{{ this.field.cinchyColumn.linkTargetColumnName }}</b> field in the {{ this.field.cinchyColumn.linkTableDataProductName }} - {{ this.field.cinchyColumn.linkTargetTableName }} table.
    </ng-template>
    <ng-container *ngIf="canEdit && !imageIsDownloadable && showActualField">
      <div class="search-input-link">
        <input #searchInput type="text" class="form-control"
               [(ngModel)]="autocompleteText" [ngModelOptions]="{ standalone: true }"
               [matAutocomplete]="auto"
               (blur)="setToLastValueSelected()"
               (focus)="getListItems(false)"
               (keyup)="clearSelectedValue($event)"
               (ngModelChange)="filterChanged()" />
        <mat-icon>
          search
        </mat-icon>
      </div>
      <mat-autocomplete #auto="matAutocomplete">
        <ng-container>
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner diameter="35"></mat-spinner>
          </mat-option>
          <cdk-virtual-scroll-viewport *ngIf="searchCharacterLimitMet && !isLoading"
                                       [itemSize]="DROPDOWN_OPTION_SIZE"
                                       [style.height.px]="scrollViewportHeight">
            <mat-option *cdkVirtualFor="let option of filteredOptions"
                        [title]="option.label"
                        [value]="option.label"
                        (onSelectionChange)="onOptionSelected($event, option)">
              {{ option.displayOnlyLabel ?? option.label ?? "" }}
            </mat-option>
          </cdk-virtual-scroll-viewport>
        </ng-container>
      </mat-autocomplete>
    </ng-container>
    <ng-container *ngIf="!canEdit && !imageIsDownloadable">
      <label class="pre-formatted" *ngIf="showActualField" [innerHTML]="selectedValue?.label || '-'">
      </label>
    </ng-container>
    <ng-container *ngIf="showImage && selectedValue">
      <img [ngClass]="imageSize" *ngIf="selectedValue.label" [src]="selectedValue.label">
      <p *ngIf="!selectedValue.label">-</p>
    </ng-container>
    <ng-container *ngIf="showLinkUrl && selectedValue">
      <a *ngIf="selectedValue.label" [href]="selectedValue.label" target="_blank">Open</a>
      <label *ngIf="!selectedValue.label">-</label>
    </ng-container>
  </div>

  <ng-container *ngIf="imageIsDownloadable && !rowIdIsValid">
    <p>
      Files cannot be uploaded until a record exists. Please select a record or save the form to access the file selector.
    </p>
  </ng-container>

  <ng-container *ngIf="imageIsDownloadable && rowIdIsValid">
    <div *ngFor="let item of downloadableLinks" style="margin-top: -12px">
      <a *ngIf="imageIsDownloadable" [href]="item.fileUrl" [title]="'Download ' + item.fileName">
        <img *ngIf="renderImageFiles && fileNameIsImage(item.fileName)" style="height: 100px" [src]="item.fileUrl" />
        <span [style.marginLeft.px]="renderImageFiles && fileNameIsImage(item.fileName) ? 12 : 0">{{item.fileName}}</span>
      </a>
      <mat-icon *ngIf="canEdit" class="file-delete-icon" (click)="onDeleteFile()" title="Delete">close</mat-icon>
    </div>
    <input #fileInput class="form-control"
           *ngIf="canEdit && !(downloadableLinks?.length)"
           type="file"
           (change)="onFileSelected($event)"
           style="margin-top: -10px">
  </ng-container>
  <mat-error class="mat-error-move-up-10"
             *ngIf="showError && field.cinchyColumn.isMandatory && !field.hasValue">
    *{{field.label}} is Required.
  </mat-error>
</div>
