<div *ngIf="(field.cinchyColumn.dataType == 'Text' && field.cinchyColumn.textColumnMaxLength <= 500
  && field.cinchyColumn.canView)"
     class="full-width-element divMarginBottom">
  <div class="link-labels">
    <div>
      <fa-icon [icon]="faAlignLeft"></fa-icon>
    </div>
    &nbsp;
    <label class="cinchy-label" [title]="field.caption ? field.caption : ''">
      {{field.label}}
      {{field.cinchyColumn.isMandatory == true && (value == '' || value == null) ? '*' : ''}}
    </label>
    <mat-icon *ngIf="field.caption" class="info-icon"
              ngbTooltip="{{field.caption}}"
              placement="auto"
              container="body"
              matTooltipClass="tool-tip-body"
              matTooltipPosition="above">
      info
    </mat-icon>
  </div>
  <ng-container *ngIf="canEdit && showActualField">
    <input class="form-control"
           type="text"
           [(ngModel)]="value" [ngModelOptions]="{standalone: true}"
           [disabled]="field.label === 'File Name'"
           (blur)="valueChanged()">
    <mat-error *ngIf="showError && field.cinchyColumn.isMandatory && !value">
      *{{field.label}} is Required.
    </mat-error>
  </ng-container>

  <label class="pre-formatted"
         *ngIf="showActualField && (!canEdit || field.label === 'File Name')"
         [innerHTML]="value || '-'"></label>

  <ng-container *ngIf="showImage">
    <img [ngClass]="imageSize" *ngIf="value" [src]="value">
    <p *ngIf="!value">-</p>
  </ng-container>

  <ng-container *ngIf="showLinkUrl">
    <a *ngIf="value" [href]="value">Open</a>
    <label *ngIf="!value">-</label>
  </ng-container>

  <ng-container *ngIf="showIFrame && isValidHttpUrl(value)">
    <iframe class="iframe-control" [src]="urlSafe" [ngStyle] ="{'height.px' : iframeHeightStyle}"></iframe>
   </ng-container>
  
   <ng-container *ngIf="showIFrameSandbox && isValidHttpUrl(value)">
    <iframe class="iframe-control" sandbox = "allow-forms allow-scripts allow-modals allow-popups allow-same-origin" [src]="urlSafe" [ngStyle] ="{'height.px' : iframeHeightStyle}"></iframe>
   </ng-container>
   
   <ng-container *ngIf="showIFrameSandboxStrict && isValidHttpUrl(value)">
    <iframe class="iframe-control" sandbox = "allow-forms allow-scripts allow-modals allow-popups" [src]="urlSafe" [ngStyle] ="{'height.px' : iframeHeightStyle}"></iframe>
   </ng-container>
</div>
