<form class="cinchy-dynamic-forms-wrapper">
  <div class='navigation-buttons form-header'>
    <!-- <button mat-raised-button>Cancel</button>-->
    <div class="flex-row ml-20">
      <a class="table-url" [href]="MetaData[0]['tableUrl']" target="_blank"><span
        class="mr-15"><b>{{MetaData[0]['formName']}}</b></span></a>
      <app-search-dropdown *ngIf="dropdownOfAllRows && dropdownOfAllRows.length"
                           [fullList]="dropdownOfAllRows"
                           [selectedOption]="currentRow"
                           (dropdownClicked)="rowSelected($event)">
      </app-search-dropdown>

      <div *ngIf="dropdownOfAllRows && dropdownOfAllRows.length" class="navigation-icons">
        <mat-icon (click)="previousRow()">navigate_before</mat-icon>

        <mat-icon (click)="nextRow()">navigate_next</mat-icon>
      </div>
    </div>

    <div class="action-buttons" matTooltip="Data is loading..." [matTooltipDisabled]="enableSaveBtn">
      <button class="no-bg mr-20" mat-button color="accent" [disabled]="!enableSaveBtn" (click)="printCurrentForm()">
        <mat-icon class="font-22" title="Export To Pdf">archive</mat-icon>
        Export As Pdf
      </button>
      <!--<button mat-raised-button class="ml-20 navigation-buttons have-brand float-right" (click)="printCurrentForm()">Print</button>-->
      <button mat-raised-button class='btnSave have-brand' (click)='saveForm(form, RowId)' [disabled]="!enableSaveBtn">Save</button>
    </div>
  </div>

  <div class="all-expansions-wrapper">
    <mat-accordion *ngIf="MetaData[0] && MetaData[0]['isAccordion']; else withoutAccordion">
      <app-fields-wrapper [form]="form"
                          [rowId]="RowId"
                          [formFieldMetaDatas]="formFieldMetaDatas"
                          [formSections]="formSections"
                          (eventOccurred)="handleFieldsEvent($event)"
                          (childFormOpened)="openChildForm($event)"
                          [fieldsWithErrors]="fieldsWithErrors"
                          [hasChildTableAccess]="hasChildTableAccess"
                          (deleteDialogOpened)="openDeleteConfirm($event)">
      </app-fields-wrapper>
    </mat-accordion>

    <ng-template #withoutAccordion>
      <app-fields-wrapper [form]="form"
                          [rowId]="RowId"
                          [formSections]="formSections"
                          (eventOccurred)="handleFieldsEvent($event)"
                          (childFormOpened)="openChildForm($event)"
                          [fieldsWithErrors]="fieldsWithErrors"
                          [hasChildTableAccess]="hasChildTableAccess"
                          (deleteDialogOpened)="openDeleteConfirm($event)">
      </app-fields-wrapper>
    </ng-template>
  </div>
</form>
