<form class="cinchy-dynamic-forms-wrapper">
  <div class="navigation-buttons form-header">
    <div class="flex-row ml-20">
      <a class="table-url" [href]="formMetadata.tableUrl" target="_blank"><span
        class="mr-15"><b>{{formMetadata.formDisplayName}}</b></span></a>

      <app-search-dropdown #recordDropdown *ngIf="lookupRecordsList?.length"
                           [items]="lookupRecordsList"
                           [selectedOption]="currentRow"
                           (dropdownClicked)="rowSelected($event)"
                           (onFilter)="handleOnFilter($event)">
      </app-search-dropdown>
    </div>

    <div class="action-buttons" matTooltip="Data is loading..." [matTooltipDisabled]="enableSaveBtn">
      <button class="no-bg mr-20" type="button" mat-button color="accent" (click)="cloneFormData()" *ngIf="rowId" [disabled]="!enableSaveBtn" >
        <mat-icon class="font-22" title="Clone Data">queue</mat-icon>
        Duplicate Record
      </button>

      <button type="button" class="no-bg mr-20" mat-button color="accent" [disabled]="!enableSaveBtn" (click)="printCurrentForm()">
        <mat-icon class="font-22" title="Export To Pdf">archive</mat-icon>
        Export As Pdf
      </button>

      <!--<button mat-raised-button class="ml-20 navigation-buttons have-brand float-right" (click)="printCurrentForm()">Print</button>-->

      <button type="button" mat-raised-button class="btnSave have-brand center-vertical-important" (click)="saveForm(form, rowId)" [disabled]="!enableSaveBtn">Save</button>
    </div>
  </div>

  <div class="all-expansions-wrapper">
    <mat-accordion *ngIf="formMetadata?.isAccordion; else withoutAccordion">
      <app-fields-wrapper [form]="form"
                          (onChange)="handleFieldsEvent($event)"
                          (childFormOpened)="openChildForm($event)"
                          [fieldsWithErrors]="fieldsWithErrors"
                          (deleteDialogOpened)="openDeleteConfirm($event)"
                          [formHasDataLoaded]="formHasDataLoaded">
      </app-fields-wrapper>
    </mat-accordion>

    <ng-template #withoutAccordion>
      <app-fields-wrapper [form]="form"
                          (onChange)="handleFieldsEvent($event)"
                          (childFormOpened)="openChildForm($event)"
                          [fieldsWithErrors]="fieldsWithErrors"
                          (deleteDialogOpened)="openDeleteConfirm($event)"
                          [formHasDataLoaded]="formHasDataLoaded">
      </app-fields-wrapper>
    </ng-template>
  </div>
</form>
