<form class="cinchy-dynamic-forms-wrapper">
  <div class="navigation-buttons form-header">
    <div class="flex-row ml-20">
      <a class="table-url" [href]="formMetadata.tableUrl" target="_blank">
        <span class="mr-15">
          <b>
            {{formMetadata.formDisplayName}}
          </b>
        </span>
      </a>

      <app-search-dropdown #recordDropdown *ngIf="lookupRecordsList?.length"
                           [items]="lookupRecordsList"
                           [selectedOption]="currentRow"
                           (dropdownClicked)="rowSelected($event)"
                           (onFilter)="handleOnFilter($event)">
      </app-search-dropdown>
    </div>

    <div class="action-buttons" matTooltip="Data is loading..." [matTooltipDisabled]="enableSaveBtn">
      <button mat-icon-button
        aria-label="Menu"
        class="btnMenu"
        type="button"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item  [disabled]="!canCreateNewRecord" (click)="createNewRecord()">
          <mat-icon>add_circle</mat-icon>
          <span>Create</span>
        </button>
        <button mat-menu-item [disabled]="!form?.rowId" (click)="cloneFormData()">
          <mat-icon>content_copy</mat-icon>
          <span>Duplicate</span>
        </button>
        <button mat-menu-item [disabled]="!form?.rowId" (click)="copyWindowUrl()">
          <mat-icon>content_paste</mat-icon>
          <span>Copy link</span>
        </button>
        <button mat-menu-item [disabled]="!enableSaveBtn" (click)="exportToPdf()">
          <mat-icon>picture_as_pdf</mat-icon>
          <span>Export PDF</span>
        </button>
        <a mat-menu-item target="_blank" [disabled]="!filteredTableUrl" [href]="filteredTableUrl" >
          <mat-icon>table</mat-icon>
          <span>View in Table</span>
        </a>
      </mat-menu>

      <button type="button" mat-raised-button class="btnSave have-brand center-vertical-important" (click)="saveForm(form)" [disabled]="!enableSaveBtn">Save</button>
    </div>
  </div>

  <div class="all-expansions-wrapper">
    <mat-accordion *ngIf="formMetadata?.isAccordion; else withoutAccordion">
      <app-fields-wrapper [form]="form"
                          [fieldsWithErrors]="fieldsWithErrors"
                          [formHasDataLoaded]="formHasDataLoaded"
                          (childRowDeleted)="onChildRowDeleted($event)"
                          (childFormOpened)="openChildFormDialog($event)"
                          (onChange)="handleFieldsEvent($event)">
      </app-fields-wrapper>
    </mat-accordion>

    <ng-template #withoutAccordion>
      <app-fields-wrapper [form]="form"
                          [fieldsWithErrors]="fieldsWithErrors"
                          [formHasDataLoaded]="formHasDataLoaded"
                          (childRowDeleted)="onChildRowDeleted($event)"
                          (childFormOpened)="openChildFormDialog($event)"
                          (onChange)="handleFieldsEvent($event)">
      </app-fields-wrapper>
    </ng-template>
  </div>
</form>
