<form class="dropdown-wrapper">
  <div class="full-width-element divMarginBottom linkField">
    <div class="m-b-10">
      <div class="link-labels">
        <div>
          <fa-icon [icon]="(field.cinchyColumn.tableId === field.cinchyColumn.linkTargetTableId) ? faSitemap : faShareAlt"></fa-icon>
        </div>
        &nbsp;
        <label class="cinchy-label" [title]="field.caption || ''">
          {{field.label}}
          {{(field.cinchyColumn.isMandatory && !field.hasValue) ? "*" : ""}}
        </label>

        <mat-icon *ngIf="field.caption && field.cinchyColumn.tableId !== field.cinchyColumn.linkTargetTableId" class="info-icon"
                  [ngbTooltip]="withcaptiont"
                  placement="auto"
                  container="body"
                  triggers="click"
                  #t="ngbTooltip"
                  (mouseenter)="openTooltip(t)"
                  (mouseleave)="closeTooltip(t)"
                  matTooltipClass="tool-tip-body"
                  matTooltipPosition="above">
          info
        </mat-icon>
        <mat-icon *ngIf="!field.caption && field.cinchyColumn.tableId !== field.cinchyColumn.linkTargetTableId" class="info-icon"
                  [ngbTooltip]="withoutcaptiont"
                  triggers="click"
                  placement="auto"
                  container="body"
                  #t="ngbTooltip"
                  (mouseenter)="openTooltip(t)"
                  (mouseleave)="closeTooltip(t)"
                  matTooltipClass="tool-tip-body"
                  matTooltipPosition="above">
          info
        </mat-icon>
        <mat-icon *ngIf="field.caption && field.cinchyColumn.tableId === field.cinchyColumn.linkTargetTableId" class="info-icon"
                  [ngbTooltip]="hierarchyWithCaption"
                  placement="auto"
                  container="body"
                  triggers="click"
                  #t="ngbTooltip"
                  (mouseenter)="openTooltip(t)"
                  (mouseleave)="closeTooltip(t)"
                  matTooltipClass="tool-tip-body"
                  matTooltipPosition="above">
          info
        </mat-icon>
        <mat-icon *ngIf="!field.caption && field.cinchyColumn.tableId === field.cinchyColumn.linkTargetTableId" class="info-icon"
                  [ngbTooltip]="hierarchyWithoutCaption"
                  placement="auto"
                  container="body"
                  triggers="click"
                  #t="ngbTooltip"
                  (mouseenter)="openTooltip(t)"
                  (mouseleave)="closeTooltip(t)"
                  matTooltipClass="tool-tip-body"
                  matTooltipPosition="above">
          info
        </mat-icon>
        <ng-template #withcaptiont>
          {{this.field.caption}}

          <br /> <br />

          From the <b>{{ this.field.cinchyColumn.linkTargetColumnName }}</b> field in the

          <a [href]="tableSourceURL" target="_blank">{{ this.field.cinchyColumn.linkTableDataProductName }} - {{ this.field.cinchyColumn.linkTargetTableName }}</a>

          table.
        </ng-template>
        <ng-template #withoutcaptiont>
          From the <b>{{ this.field.cinchyColumn.linkTargetColumnName }}</b> field in the

          <a [href]="tableSourceURL" target="_blank">{{ this.field.cinchyColumn.linkTableDataProductName }} - {{ this.field.cinchyColumn.linkTargetTableName }}</a>

          table.
        </ng-template>
        <ng-template #hierarchyWithCaption>
          {{this.field.caption}}

          <br /> <br />

          From the <b>{{ this.field.cinchyColumn.linkTargetColumnName }}</b> field in the {{this.field.cinchyColumn.linkTableDataProductName}} - {{ this.field.cinchyColumn.linkTargetTableName }} table.
        </ng-template>
        <ng-template #hierarchyWithoutCaption>
          From the <b>{{ this.field.cinchyColumn.linkTargetColumnName }}</b> field in the {{ this.field.cinchyColumn.linkTableDataProductName }} - {{ this.field.cinchyColumn.linkTargetTableName }} table.
        </ng-template>
      </div>

      <mat-select class="form-control" multiple #multiSelect
                  *ngIf="!isLoading && !downloadLink"
                  [(ngModel)]="selectedValues" [ngModelOptions]="{ standalone: true }"
                  [compareWith]="compareFn"
                  [disabled]="!canEdit"
                  (selectionChange)="valueChanged()"
                  disableOptionCentering>
        <mat-select-trigger>
          {{ displayFn() }}
        </mat-select-trigger>

        <ng-container *ngIf="dropdownSetOptions?.length">
          <mat-option>
            <ngx-mat-select-search [formControl]="filterCtrl"
                                   [showToggleAllCheckbox]="true"
                                   (toggleAll)="toggleSelectAll($event)"
                                   noEntriesFoundLabel="No entries matched your search"
                                   placeholderLabel="Search...">
            </ngx-mat-select-search>
          </mat-option>

          <cdk-virtual-scroll-viewport
              [itemSize]="DROPDOWN_OPTION_SIZE"
              [style.height.px]="scrollViewportHeight"
              [minBufferPx]="300"
              [maxBufferPx]="600"
          >
            <mat-option class="all-options" *cdkVirtualFor="let dropdownOption of filteredListMulti | async"
                        [value]="dropdownOption"
                        [title]="dropdownOption.label">
              {{ dropdownOption.displayOnlyLabel ?? dropdownOption.label ?? "" }}
            </mat-option>

            <!--
              We need to ensure that values which were previously selected still render within the
              viewport even if they are out of the current view, because otherwise they will be
              deselected when the value changes. This hack forces them to be present.

              See: https://github.com/angular/components/issues/13087#issuecomment-422188788
            -->
            <mat-option *ngFor="let selectedValue of selectedValues"
                        style="position: absolute; visibility: hidden;"
                        [value]="selectedValue"
            >
              {{selectedValue?.label}}
            </mat-option>
          </cdk-virtual-scroll-viewport>
        </ng-container>
      </mat-select>

      <mat-error *ngIf="showError && field.cinchyColumn.isMandatory && !field.hasValue">
        *{{field.label}} is Required.
      </mat-error>

      <ng-container *ngIf="downloadLink && !rowIdIsValid">
        <p>
          Files cannot be uploaded until a record exists. Please select a record or save the form to access the file selector.
        </p>
      </ng-container>

      <ng-container *ngIf="downloadLink && rowIdIsValid">
        <div *ngFor="let item of downloadableLinks" style="margin-top: 6px">
          <a *ngIf="downloadLink" [href]="item.fileUrl" [title]="downloadableLinkTooltip(item)">
            <img *ngIf="renderImageFiles && fileNameIsImage(item.fileName)" style="height: 100px" [src]="item.fileUrl" />
            <span [style.marginLeft.px]="renderImageFiles && fileNameIsImage(item.fileName) ? 12 : 0">{{item.fileName}}</span>
          </a>
          <mat-icon *ngIf="canEdit" class="file-delete-icon" (click)="onDeleteFile(item)" title="Delete">close</mat-icon>
        </div>
        <input #fileInput multiple
              class="form-control"
              *ngIf="field.cinchyColumn.canEdit"
              type="file"
              (change)="onFileSelected($event)"
              [style.marginTop.px]="downloadableLinks ? 14 : 0">
      </ng-container>
    </div>
  </div>
</form>

<div *ngIf="isLoading" class="is-loading">
  <mat-spinner diameter="20"></mat-spinner>
</div>
