<div *ngIf="(field.cinchyColumn.dataType === 'Number' && field.cinchyColumn.canView)" class="full-width-element divMarginBottom">
  <div class="link-labels">
    <div>
      <fa-icon [icon]="faHashtag"></fa-icon>
    </div>
    &nbsp;
    <label class="cinchy-label" [title]="field.caption || ''">
      {{field.label}}
      {{(field.cinchyColumn.isMandatory && !field.value) ? '*' : ''}}
    </label>
    <mat-icon *ngIf="field.caption"
              class="info-icon"
              container="body"
              ngbTooltip="{{field.caption}}"
              placement="auto"
              matTooltipClass="tool-tip-body" matTooltipPosition="above"
    >
      info
    </mat-icon>
  </div>
  <ng-container *ngIf="canEdit">
    <input digitOnly
           type="text"
           class="form-control"
           decimal="true"
           inputmode="numeric"
           [allowNegatives]="true"
           [(ngModel)]="formattedAmount" [ngModelOptions]="{standalone: true}"
           (blur)="transformAmount()"
           (focus)="reverseTransform()" />

    <mat-error *ngIf="showError && field.cinchyColumn.isMandatory && !field.value">
      *{{field.label}} is Required.
    </mat-error>
  </ng-container>
  <ng-container *ngIf="!canEdit">
    <label class="pre-formatted" [innerHTML]="formattedAmount || '-'"></label>
  </ng-container>
</div>
