<ng-container *ngIf="!isChild">
  <mat-expansion-panel *ngFor='let section of formSections; index as i'
                       [ngClass]="'section-flex--'+section.columnsInRow"
                       [expanded]="section.autoExpand" [id]="'section-' + section.label">
    <mat-expansion-panel-header class="sectionHeaderRow" expandedHeight="40px" collapsedHeight="40px"
                                (click)="expansionClicked(section)">
      <mat-panel-title>
        {{section.sectionName}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="form else loading">
      <ng-container *ngTemplateOutlet="formFields; context:{section: form.sections[i]}" ></ng-container>
    </ng-container>

    <ng-template #loading>
      <mat-spinner diameter="50" class="inside"></mat-spinner>
    </ng-template>

  </mat-expansion-panel>
</ng-container>

<ng-container *ngIf="isChild">
  <ng-container *ngFor="let section of form.sections">
    <ng-container *ngTemplateOutlet="formFields; context:{section: section}"></ng-container>
  </ng-container>
</ng-container>

<ng-template #formFields let-section="section" >
  <div *ngFor='let field of section.fields; let idx = index' style="display: flex;">
    <div [class]="form.name === 'Intake'? 'formField deviation-button': 'formField'">
      <cinchy-checkbox *ngIf="(field.cinchyColumn.dataType == 'Yes/No')"
                       (eventHandler)='eventOccurred.emit($event)'
                       [field]='field'>
      </cinchy-checkbox>

      <cinchy-link
        *ngIf="(field.cinchyColumn.dataType == 'Link' && field.cinchyColumn.canView && !field.cinchyColumn.isMultiple)"
        [targetTableName]='form.targetTableName' [field]='field'
        [rowId]="rowId"
        [fieldsWithErrors]="fieldsWithErrors"
        [isDisabled]="section['LinkedColumnDetails'] && (section['LinkedColumnDetails'].linkLabel === field.label)"
        [isInChildForm]="isChild"
        (eventHandler)='eventOccurred.emit($event)'>
      </cinchy-link>

      <cinchy-link-multichoice
        *ngIf="(field.cinchyColumn.dataType == 'Link' && field.cinchyColumn.canView && field.cinchyColumn.isMultiple)"
        [rowId]="rowId"
        [targetTableName]='form.targetTableName' [field]='field'
        [fieldsWithErrors]="fieldsWithErrors"
        (eventHandler)='eventOccurred.emit($event)'>
      </cinchy-link-multichoice>

      <cinchy-textarea
        *ngIf="(field.cinchyColumn.dataType == 'Text'&& field.cinchyColumn.textColumnMaxLength > 500)"
        (eventHandler)='eventOccurred.emit($event)'
        [targetTableName]='form.targetTableName' [field]='field'
        [fieldsWithErrors]="fieldsWithErrors">
      </cinchy-textarea>

      <cinchy-textbox
        *ngIf="(field.cinchyColumn.dataType == 'Text' && field.cinchyColumn.textColumnMaxLength <= 500)"
        [targetTableName]='form.targetTableName' [field]='field'
        [fieldsWithErrors]="fieldsWithErrors"
        (eventHandler)='eventOccurred.emit($event)'>
      </cinchy-textbox>

      <cinchy-datetime *ngIf="(field.cinchyColumn.dataType == 'Date and Time')"
                       [targetTableName]='form.targetTableName' [field]='field'
                       [fieldsWithErrors]="fieldsWithErrors"
                       (eventHandler)='eventOccurred.emit($event)'>
      </cinchy-datetime>

      <cinchy-attachfile *ngIf="(field.cinchyColumn.dataType == 'Binary')"
                         [targetTableName]='form.targetTableName' [field]='field'
                         [fieldsWithErrors]="fieldsWithErrors"
                         (eventHandler)='eventOccurred.emit($event)' [Form]="section.fields">
      </cinchy-attachfile>

      <cinchy-calculated *ngIf="(field.cinchyColumn.dataType == 'Calculated')"
                         [field]='field'>
      </cinchy-calculated>

      <cinchy-choice *ngIf="field.cinchyColumn.dataType == 'Choice' && !field.cinchyColumn.isMultiple"
                     [targetTableName]='form.targetTableName'
                     [field]='field'
                     [fieldsWithErrors]="fieldsWithErrors"
                     (eventHandler)='eventOccurred.emit($event)'>
      </cinchy-choice>

      <cinchy-muliti-choice *ngIf="field.cinchyColumn.dataType == 'Choice' && field.cinchyColumn.isMultiple"
                            [targetTableName]='form.targetTableName'
                            [field]='field'
                            [fieldsWithErrors]="fieldsWithErrors"
                            (eventHandler)='eventOccurred.emit($event)'>
      </cinchy-muliti-choice>

      <cinchy-number *ngIf="(field.cinchyColumn.dataType == 'Number')"
                     [targetTableName]='form.targetTableName'
                     [field]='field'
                     [fieldsWithErrors]="fieldsWithErrors"
                     (eventHandler)='eventOccurred.emit($event)'>
      </cinchy-number>

      <cinchy-childform-table *ngIf="field.childForm" [field]='field'
                              [rowId] = rowId
                              [hasChildTableAccess]="hasChildTableAccess"
                              (childform)='childFormOpened.emit($event)'
                              (deleteClicked)="deleteDialogOpened.emit($event)">
      </cinchy-childform-table>
    </div>
  </div>
</ng-template>
