<mat-spinner *ngIf="!formHasDataLoaded" diameter="50" class="inside"></mat-spinner>

<ng-container *ngIf="formHasDataLoaded && form?.sections?.length">
  <ng-container *ngIf="!isChild">
      <mat-expansion-panel *ngFor="let displaySection of displaySections; index as sectionIndex"
                           [ngClass]="'section-flex--' + displaySection.section.columnsInRow"
                           [expanded]="displaySection.section.autoExpand" [id]="'section-' + displaySection.section.label"
                           (opened)="onPanelExpanded(displaySection.section)">
        <mat-expansion-panel-header class="sectionHeaderRow" expandedHeight="40px" collapsedHeight="40px">
        <mat-panel-title>
          {{displaySection.section.label}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngTemplateOutlet="formFields; context:{ section: displaySection.section, sectionIndex: displaySection.sectionIndex }" ></ng-container>
    </mat-expansion-panel>
  </ng-container>

  <ng-container *ngIf="isChild">
    <ng-container *ngFor="let section of form.sections; let sectionIndex = index">
      <ng-container *ngTemplateOutlet="formFields; context:{ section: section, sectionIndex: sectionIndex}"></ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #formFields let-section="section" let-sectionIndex="sectionIndex">
  <div *ngFor="let field of section.fields; let fieldIndex = index" style="display: flex;">
    <div class="form-field" *ngIf="!field.hide">
      <cinchy-checkbox *ngIf="(field.cinchyColumn.dataType === 'Yes/No')"
                        [targetTableName]="field.cinchyColumn.tableName"
                        [form]="form"
                        [fieldIndex]="fieldIndex"
                        [sectionIndex]="sectionIndex"
                        (onChange)="handleOnChange($event)">
      </cinchy-checkbox>

      <cinchy-link *ngIf="(field.cinchyColumn.dataType === 'Link' && field.cinchyColumn.canView && !field.cinchyColumn.isMultiple)"
                    [targetTableName]="field.cinchyColumn.tableName"
                    [form]="form"
                    [fieldIndex]="fieldIndex"
                    [sectionIndex]="sectionIndex"
                    [fieldsWithErrors]="fieldsWithErrors"
                    [isDisabled]="field.linkedColumn && (field.linkedColumn.linkLabel === field.label)"
                    [isInChildForm]="isChild"
                    (onChange)="handleOnChange($event)">
      </cinchy-link>

      <cinchy-link-multichoice *ngIf="(field.cinchyColumn.dataType === 'Link' && field.cinchyColumn.canView && field.cinchyColumn.isMultiple)"
                                [targetTableName]="field.cinchyColumn.tableName"
                                [form]="form"
                                [fieldIndex]="fieldIndex"
                                [sectionIndex]="sectionIndex"
                                [fieldsWithErrors]="fieldsWithErrors"
                                (onChange)="handleOnChange($event)">
      </cinchy-link-multichoice>

      <cinchy-textarea *ngIf="useTextarea(field)"
                        (onChange)="handleOnChange($event)"
                        [targetTableName]="field.cinchyColumn.tableName"
                        [form]="form"
                        [fieldIndex]="fieldIndex"
                        [sectionIndex]="sectionIndex"
                        [isInChildForm]="isChild"
                        [fieldsWithErrors]="fieldsWithErrors">
      </cinchy-textarea>

      <cinchy-textbox *ngIf="usePlaintext(field)"
                      [targetTableName]="field.cinchyColumn.tableName"
                      [form]="form"
                      [fieldIndex]="fieldIndex"
                      [sectionIndex]="sectionIndex"
                      [fieldsWithErrors]="fieldsWithErrors"
                      [isInChildForm]="isChild"
                      (onChange)="handleOnChange($event)">
      </cinchy-textbox>

      <cinchy-rich-text *ngIf="useRichText(field)"
                        [targetTableName]="field.cinchyColumn.tableName"
                        [form]="form"
                        [fieldIndex]="fieldIndex"
                        [sectionIndex]="sectionIndex"
                        [fieldsWithErrors]="fieldsWithErrors"
                        [useJson]="richTextUseJson(field)"
                        (onChange)="handleOnChange($event)">
      </cinchy-rich-text>

      <cinchy-datetime *ngIf="(field.cinchyColumn.dataType === 'Date and Time')"
                        [targetTableName]="field.cinchyColumn.tableName"
                        [form]="form"
                        [fieldIndex]="fieldIndex"
                        [sectionIndex]="sectionIndex"
                        [fieldsWithErrors]="fieldsWithErrors"
                        (onChange)="handleOnChange($event)">
      </cinchy-datetime>

      <cinchy-attach-file *ngIf="(field.cinchyColumn.dataType === 'Binary')"
                          [targetTableName]="field.cinchyColumn.tableName"
                          [form]="form"
                          [fieldIndex]="fieldIndex"
                          [sectionIndex]="sectionIndex"
                          [fieldsWithErrors]="fieldsWithErrors"
                          (onChange)="handleOnChange($event)">
      </cinchy-attach-file>

      <cinchy-choice *ngIf="field.cinchyColumn.dataType === 'Choice' && !field.cinchyColumn.isMultiple"
                      [targetTableName]="field.cinchyColumn.tableName"
                      [form]="form"
                      [fieldIndex]="fieldIndex"
                      [sectionIndex]="sectionIndex"
                      [fieldsWithErrors]="fieldsWithErrors"
                      (onChange)="handleOnChange($event)">
      </cinchy-choice>

      <cinchy-multi-choice *ngIf="field.cinchyColumn.dataType === 'Choice' && field.cinchyColumn.isMultiple"
                            [targetTableName]="field.cinchyColumn.tableName"
                            [form]="form"
                            [fieldIndex]="fieldIndex"
                            [sectionIndex]="sectionIndex"
                            [fieldsWithErrors]="fieldsWithErrors"
                            (onChange)="handleOnChange($event)">
      </cinchy-multi-choice>

      <cinchy-number *ngIf="(field.cinchyColumn.dataType === 'Number')"
                      [targetTableName]="field.cinchyColumn.tableName"
                      [form]="form"
                      [fieldIndex]="fieldIndex"
                      [sectionIndex]="sectionIndex"
                      [fieldsWithErrors]="fieldsWithErrors"
                      (onChange)="handleOnChange($event)">
      </cinchy-number>

      <cinchy-childform-table *ngIf="field.childForm && !field.childForm.flatten"
                              [form]="form"
                              [fieldIndex]="fieldIndex"
                              [sectionIndex]="sectionIndex"
                              (childRowDeleted)="childRowDeleted.emit($event)"
                              (childFormOpened)="childFormOpened.emit($event)">
      </cinchy-childform-table>
    </div>
  </div>
</ng-template>
