<div *ngIf="field?.childForm" class="full-width-element">
  <!-- Child form table header -->
  <span class="error-message" *ngIf="!hasChildTableAccess">
    You don't have access to this table
  </span>
  <div class="mat-header-child">
    {{ section.label }}

    <span class="text-left" *ngIf="hasChildTableAccess">
      <a (click)="addChildRecord(section.label)">
        <fa-icon [icon]="faPlus" class="plusIcon btn-dynamic-child"></fa-icon>
      </a>
    </span>
  </div>
  <!-- Child form table Row header -->
  <div class="table-responsive" *ngIf="section.childFormRowValues">
    <table class="table child-table">
      <thead>
        <tr>
          <th class="mat-row-child">Action</th>
          <ng-container *ngFor="let key of getSortedKeys(section.childFormRowValues[0])">
            <!-- Child form dynamic table Row header -->
            <ng-container *ngIf="childFieldDictionary[key]?.cinchyColumn?.dataType !== 'Binary'">
              <th *ngIf="(key !== 'Cinchy ID') && (!isLinkedColumn(section, key))">
                {{ getTableHeader(key, section) }}
              </th>
            </ng-container>
          </ng-container>
        </tr>
      </thead>
      <!-- Child form dynamic table Row Data -->
      <tbody>
        <tr *ngFor="let rowData of section.childFormRowValues" class="pre-formatted">
          <!--Edit Child form  -->
          <td class="action-width">
            <a class="btn-dynamic-child primary btnForm" *ngIf="hasChildTableAccess" (click)="editChildRecord(section.label, rowData)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
            <a class="btn-dynamic-child warn btnForm" *ngIf="hasChildTableAccess"
                (click)="deleteRow(rowData)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </a>
          </td>
          <ng-container *ngFor="let key of getSortedKeys(rowData)">
            <ng-container *ngIf="childFieldDictionary[key]?.cinchyColumn?.dataType !== 'Binary'">
              <td *ngIf="(key !== 'Cinchy ID') && (!isLinkedColumn(section, key))"
                  [ngStyle]="childFieldDictionary[key]?.cinchyColumn?.doNotWrap ? { 'white-space': 'nowrap' } : ''"
                  [innerHTML]="getDisplayValue(rowData[key], section, key)">
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
