:host {
  .form-control {
    display: flex;
    padding: 0 0 0 0.75rem;

    input {
      border: none;
      padding: 0;

      &[disabled] {
        color: inherit;
        background: none;
      }
    }

    ::ng-deep .mat-mdc-icon-button {
      height: 33px;
      line-height: 33px;
      width: 33px;
    }
  }
}

.hide-date{
  height: 0;
  width: 0;
  visibility: hidden;
  display: block !important;
}
