<div *ngIf="formMetadata" class="form-wrapper-theme"
     [ngClass]="brandedFormWrapperTheme"
     [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <mat-icon class="menu-button have-brand" (click)="sidenav.toggle()">menu</mat-icon>
  </mat-toolbar>

  <mat-drawer-container *ngIf="!mobileQuery.matches" class="sidenav-container" autosize
                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-drawer #sidenav class="side-nav have-brand" mode="side" [opened]="true">
      <ng-container *ngTemplateOutlet="sideMainContent"></ng-container>
    </mat-drawer>

    <ng-container *ngTemplateOutlet="mainContent"></ng-container>
  </mat-drawer-container>

  <mat-sidenav-container *ngIf="mobileQuery.matches" class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 10 : 0">
    <mat-sidenav class="side-nav" #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="10">
      <ng-container *ngTemplateOutlet="sideMainContent"></ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container *ngTemplateOutlet="mainContent"></ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <ng-template #sideMainContent>
    <sidenav *ngIf="formSectionsMetadata"
                 [tableId]="formMetadata.tableId"
                 [formMetadata]="formMetadata"
                 (closeSideBar)=sidenav.toggle()>
    </sidenav>
  </ng-template>

  <ng-template #mainContent>
    <div class="form-container full-height-element" [ngStyle]="{ 'height': fullScreenHeight }" *ngIf="formSectionsMetadata && lookupRecords">
      <cinchy-dynamic-forms [formId]="formId"
                            [formMetadata]="formMetadata"
                            [formSectionsMetadata]="formSectionsMetadata"
                            [lookupRecords]="lookupRecords"
                            (onLookupRecordFilter)="handleOnLookupRecordFilter($event)">
      </cinchy-dynamic-forms>
    </div>
  </ng-template>
</div>


<ngx-spinner bdColor="rgba(21,6,44,0.8)" size="default" color="#fff" type="ball-fall" [fullScreen]="true">
  <p style="color: white">Loading... </p>
</ngx-spinner>
