.rich-text-wrapper {
  border: 3px solid black;

  .rich-text-element {
    padding: 0 0.5rem;

    .ProseMirror:focus-visible {
      outline: none !important;
    }
  }

  .toolbar {
    border-bottom: 3px solid black;
    margin: -1px;

    .toolbar-item {
      background-color: transparent;
      border: none;

      &.active {
        background-color: rgba(0, 0, 0, 0.15);
      }

      &:active,
      &:focus,
      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }

      &:hover {
        cursor: pointer;
      }

      fa-icon {
        color: black;
      }
    }
  }
}
