<div class="full-width-element divMarginBottom">
  <div class="link-labels">
    <div>
      <fa-icon [icon]="icons.faAlignLeft"></fa-icon>
    </div>
    &nbsp;
    <label class="cinchy-label" [title]="field.caption || ''">
      {{field.label}}
      {{field.cinchyColumn.isMandatory == true && (field.value == '' || field.value == null) ? '*' : ''}}
    </label>
    <mat-icon *ngIf="field.caption" class="info-icon"
              ngbTooltip="{{field.caption}}"
              placement="auto"
              container="body"
              matTooltipClass="tool-tip-body"
              matTooltipPosition="above">
      info
    </mat-icon>
  </div>

  <ng-container *ngIf="canEdit">
    <div class="rich-text-wrapper form-control">
      <div class="toolbar">
        <button class="toolbar-item" [class.active]="activeMarks.bold" (click)="toggleMark(tiptapMarkType.Bold)" matTooltip="Bold">
          <fa-icon [icon]="icons.faBold"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.italic" (click)="toggleMark(tiptapMarkType.Italic)" matTooltip="Italic">
          <fa-icon [icon]="icons.faItalic"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.underline" (click)="toggleMark(tiptapMarkType.Underline)" matTooltip="Underline">
          <fa-icon [icon]="icons.faUnderline"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.strike" (click)="toggleMark(tiptapMarkType.Strike)" matTooltip="Strikethrough">
          <fa-icon [icon]="icons.faStrikethrough"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.code" (click)="toggleMark(tiptapMarkType.Code)" matTooltip="Code">
          <fa-icon [icon]="icons.faCode"></fa-icon>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.listUnordered" (click)="toggleMark(tiptapMarkType.ListUnordered)" matTooltip="Unordered List">
          <fa-icon [icon]="icons.faListUl"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.listOrdered" (click)="toggleMark(tiptapMarkType.ListOrdered)" matTooltip="Ordered List">
          <fa-icon [icon]="icons.faListOl"></fa-icon>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.heading1" (click)="toggleMark(tiptapMarkType.Heading1)" matTooltip="Heading 1">
          <fa-icon [icon]="icons.faHeading"></fa-icon><sub>1</sub>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.heading2" (click)="toggleMark(tiptapMarkType.Heading2)" matTooltip="Heading 2">
          <fa-icon [icon]="icons.faHeading"></fa-icon><sub>2</sub>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.heading3" (click)="toggleMark(tiptapMarkType.Heading3)" matTooltip="Heading 3">
          <fa-icon [icon]="icons.faHeading"></fa-icon><sub>3</sub>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.heading4" (click)="toggleMark(tiptapMarkType.Heading4)" matTooltip="Heading 4">
          <fa-icon [icon]="icons.faHeading"></fa-icon><sub>4</sub>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.heading5" (click)="toggleMark(tiptapMarkType.Heading5)" matTooltip="Heading 5">
          <fa-icon [icon]="icons.faHeading"></fa-icon><sub>5</sub>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.link" (click)="toggleLink()" matTooltip="Insert Link">
          <fa-icon [icon]="icons.faLink"></fa-icon>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.image" (click)="insertImage()" matTooltip="Insert Image">
          <fa-icon [icon]="icons.faImage"></fa-icon>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.table" [matMenuTriggerFor]="menu" matTooltip="Insert Table">
          <fa-icon [icon]="icons.faTable"></fa-icon>
        </button>

  
        <mat-menu #menu="matMenu">

          <button mat-menu-item class="toolbar-item" [class.active]="activeMarks.table" (click)="insertTable()" matTooltip="Add Table">
            <fa-icon class="mr-2" [icon]="icons.faTable"></fa-icon>
            <span>Add Table</span>
          </button>

          <button class="toolbar-item" mat-menu-item [class.active]="activeMarks.tableDelete" (click)="deleteTable()" matTooltip="Delete Table" [disabled]="!activeMarks.table">
            <fa-icon class="mr-2" [icon]="icons.faTrash"></fa-icon>
            <span>Delete Table</span>
          </button>

          <button class="toolbar-item" mat-menu-item [class.active]="activeMarks.table" (click)="insertTableRowBefore()" matTooltip="Add Row Before" [disabled]="!activeMarks.table">
            <div class="fa-rotate-90 mr-2" style="display: inline-block;"><fa-icon  [icon]="icons.faLevelDownAlt"></fa-icon></div>
            <span>Add Row Before</span>
          </button>

          <button class="toolbar-item" mat-menu-item [class.active]="activeMarks.table" (click)="insertTableRowAfter()" matTooltip="Add Row After" [disabled]="!activeMarks.table">
            <div class="fa-rotate-90 mr-2" style="display: inline-block;"><fa-icon  [icon]="icons.faLevelUpAlt"></fa-icon></div>
            <span>Add Row After</span>
          </button>

          <button class="toolbar-item" mat-menu-item [class.active]="activeMarks.table" (click)="deleteRow()" matTooltip="Delete Row" [disabled]="!activeMarks.table">
            <fa-icon class="mr-2" [icon]="icons.faMinusSquare"></fa-icon>
            <span>Delete Row</span>
          </button>

          <button class="toolbar-item" mat-menu-item [class.active]="activeMarks.table" (click)="insertTableColumnBefore()" matTooltip="Add Column Before" [disabled]="!activeMarks.table">
            <div class="fa-flip-horizontal mr-2" style="display: inline-block;"><fa-icon [icon]="icons.faLevelDownAlt"></fa-icon></div>
            <span>Add Column Before</span>
          </button>

          <button class="toolbar-item" mat-menu-item [class.active]="activeMarks.table" (click)="insertTableColumnAfter()" matTooltip="Add Column After" [disabled]="!activeMarks.table">
            <fa-icon class="mr-2" [icon]="icons.faLevelDownAlt"></fa-icon>
            <span>Add Column After</span>
          </button>

          <button class="toolbar-item" mat-menu-item [class.active]="activeMarks.table" (click)="deleteColumn()" matTooltip="Delete Column" [disabled]="!activeMarks.table">
            <div class="fa-rotate-90 mr-2" style="display: inline-block;"><fa-icon  [icon]="icons.faMinusSquare"></fa-icon></div>
            <span>Delete Column</span>
          </button>
      </mat-menu>

      </div>
      <div class="editor-wrapper" (click)="setFocus()">
        <div #richTextElement class="rich-text-element"></div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="field.cinchyColumn.canEdit === false || field.cinchyColumn.isViewOnly || isDisabled">
    <label class="pre-formatted">{{field.value | json}}</label>
  </ng-container>
</div>
