<div class="full-width-element divMarginBottom">
  <div class="link-labels">
    <div>
      <fa-icon [icon]="icons.faAlignLeft"></fa-icon>
    </div>
    &nbsp;
    <label class="cinchy-label" [title]="field.caption || ''">
      {{field.label}}
      {{(field.cinchyColumn.isMandatory && !value) ? '*' : ''}}
    </label>
    <mat-icon *ngIf="field.caption" class="info-icon"
              ngbTooltip="{{field.caption}}"
              placement="auto"
              container="body"
              matTooltipClass="tool-tip-body"
              matTooltipPosition="above">
      info
    </mat-icon>
  </div>

  <ng-container *ngIf="canEdit">
    <div class="rich-text-wrapper form-control">
      <div class="toolbar">
        <select class="toolbar-dropdown toolbar-item" (change)="toggleMark($event.target.value)">
          <option [value]="tiptapMarkType.Paragraph" title="{{ ctrlLabel }} + Alt + 0">Paragraph</option>
          <option *ngFor="let heading of headings" [selected]="activeMarks[heading.selected]" [title]="heading.title" [value]="heading.mark">{{ heading.name }}</option>
        </select>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.bold" (click)="toggleMark(tiptapMarkType.Bold)" matTooltip="Bold {{ '\n' + ctrlLabel }} + B" matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faBold"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.italic" (click)="toggleMark(tiptapMarkType.Italic)" matTooltip="Italic {{ '\n' + ctrlLabel }} + I"  matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faItalic"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.underline" (click)="toggleMark(tiptapMarkType.Underline)" matTooltip="Underline {{ '\n' + ctrlLabel }} + U"  matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faUnderline"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.strike" (click)="toggleMark(tiptapMarkType.Strike)" matTooltip="Strikethrough {{ '\n' + ctrlLabel }} + Shift + X" matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faStrikethrough"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.code" (click)="toggleMark(tiptapMarkType.Code)" matTooltip="Code {{ '\n' + ctrlLabel }} + E" matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faCode"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.codeBlock" (click)="toggleMark(tiptapMarkType.CodeBlock)" matTooltip="Code Block {{ '\n' + ctrlLabel }} + Alt + C" matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faFileCode"></fa-icon>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.listUnordered" (click)="toggleMark(tiptapMarkType.ListUnordered)" matTooltip="Unordered List {{ '\n' + ctrlLabel }} + Shift + 8" matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faListUl"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.listOrdered" (click)="toggleMark(tiptapMarkType.ListOrdered)" matTooltip="Ordered List {{ '\n' + ctrlLabel }} + Shift + 7" matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faListOl"></fa-icon>
        </button>

        <button class="toolbar-item" [class.active]="activeMarks.listTask" (click)="toggleMark(tiptapMarkType.ListTask)" matTooltip="Task List {{ '\n' + ctrlLabel }} + Shift + 9" matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faTasks"></fa-icon>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.link" (click)="toggleLink()" matTooltip="Insert Link {{ '\n' + ctrlLabel }} + k" matTooltipClass="tooltip-newline">
          <fa-icon [icon]="icons.faLink"></fa-icon>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.image" (click)="insertImage()" matTooltip="Insert Image">
          <fa-icon [icon]="icons.faImage"></fa-icon>
        </button>

        <span class="toolbar-divider">
          |
        </span>

        <button class="toolbar-item" [class.active]="activeMarks.table" [matMenuTriggerFor]="menu" matTooltip="Insert Table">
          <fa-icon [icon]="icons.faTable"></fa-icon>
        </button>

  
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="toolbar-item" (click)="insertTable()" matTooltip="Add Table" [disabled]="activeMarks.table">
            <fa-icon class="mr-2" [icon]="icons.faTable"></fa-icon>
            <span>Add Table</span>
          </button>

          <button class="toolbar-item" mat-menu-item (click)="deleteTable()" matTooltip="Delete Table" [disabled]="!activeMarks.table">
            <fa-icon class="mr-2" [icon]="icons.faTrash"></fa-icon>
            <span>Delete Table</span>
          </button>

          <button class="toolbar-item" mat-menu-item (click)="insertRowBefore()" matTooltip="Add Row Before" [disabled]="!activeMarks.table">
            <div class="fa-rotate-90 mr-2" style="display: inline-block;"><fa-icon  [icon]="icons.faLevelDownAlt"></fa-icon></div>
            <span>Add Row Before</span>
          </button>

          <button class="toolbar-item" mat-menu-item (click)="insertRowAfter()" matTooltip="Add Row After" [disabled]="!activeMarks.table">
            <div class="fa-rotate-90 mr-2" style="display: inline-block;"><fa-icon  [icon]="icons.faLevelUpAlt"></fa-icon></div>
            <span>Add Row After</span>
          </button>

          <button class="toolbar-item" mat-menu-item (click)="deleteRow()" matTooltip="Delete Row" [disabled]="!activeMarks.table">
            <fa-icon class="mr-2" [icon]="icons.faMinusSquare"></fa-icon>
            <span>Delete Row</span>
          </button>

          <button class="toolbar-item" mat-menu-item (click)="insertColumnBefore()" matTooltip="Add Column Before" [disabled]="!activeMarks.table">
            <div class="fa-flip-horizontal mr-2" style="display: inline-block;"><fa-icon [icon]="icons.faLevelDownAlt"></fa-icon></div>
            <span>Add Column Before</span>
          </button>

          <button class="toolbar-item" mat-menu-item (click)="insertColumnAfter()" matTooltip="Add Column After" [disabled]="!activeMarks.table">
            <fa-icon class="mr-2" [icon]="icons.faLevelDownAlt"></fa-icon>
            <span>Add Column After</span>
          </button>

          <button class="toolbar-item" mat-menu-item (click)="deleteColumn()" matTooltip="Delete Column" [disabled]="!activeMarks.table">
            <div class="fa-rotate-90 mr-2" style="display: inline-block;"><fa-icon  [icon]="icons.faMinusSquare"></fa-icon></div>
            <span>Delete Column</span>
          </button>
      </mat-menu>

     </div>
      <div class="editor-wrapper" (click)="setFocus()">
        <div #richTextElement class="rich-text-element"></div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!canEdit">
    <label class="pre-formatted">{{ value | json }}</label>
  </ng-container>
</div>
