<div *ngIf="(field.cinchyColumn.dataType === 'Text' && field.cinchyColumn.textColumnMaxLength > 500 && field.cinchyColumn.canView)"
     class="full-width-element divMarginBottom">
  <div class="link-labels">
    <div>
      <fa-icon [icon]="faAlignLeft"></fa-icon>
    </div>
    &nbsp;
    <label class="cinchy-label" [title]="field.caption || ''">
      {{field.label}}
      {{(field.cinchyColumn.isMandatory && !value) ? '*' : ''}}
    </label>
    <mat-icon *ngIf="field.caption" class="info-icon"
              ngbTooltip="{{field.caption}}"
              placement="auto"
              container="body"
              matTooltipClass="tool-tip-body"
              matTooltipPosition="above">
      info
    </mat-icon>
  </div>
  <ng-container *ngIf="canEdit">
    <textarea *ngIf="!isFormatted && showActualField" class="form-control" type="text"
              [(ngModel)]="value" [ngModelOptions]="{standalone: true}"
              [rows]="field.cinchyColumn.totalTextAreaRows ? field.cinchyColumn.totalTextAreaRows : 4"
              (blur)="valueChanged()">
         </textarea>

    <ngx-codemirror *ngIf="isFormatted && showEditor"
                    [(ngModel)]="value"
                    [options]="codeEditorOptions"
                    (ngModelChange)="valueChanged()"
    ></ngx-codemirror>

    <mat-error *ngIf="showError && field.cinchyColumn.isMandatory && !value">
      *{{field.label}} is Required.
    </mat-error>
  </ng-container>

  <ng-container *ngIf="!canEdit">
    <label class="pre-formatted" *ngIf="!isFormatted && showActualField" [innerHTML]="value || '-'"></label>

    <ngx-codemirror *ngIf="isFormatted && showEditor" [(ngModel)]="value" [options]="codeEditorOptions"></ngx-codemirror>
  </ng-container>

  <ng-container *ngIf="showImage">
    <img [ngClass]="imageSize" *ngIf="value" [src]="value">
    <p *ngIf="!value">-</p>
  </ng-container>

  <ng-container *ngIf="showLinkUrl">
    <a *ngIf="value" [href]="value">Open</a>
    <label *ngIf="!value">-</label>
  </ng-container>

  <ng-container *ngIf="showIframe && isValidHttpUrl(value)">
    <iframe class="iframe-control" [src]="urlSafe" [style.height.px]="iframeHeightStyle"></iframe>
  </ng-container>

  <ng-container *ngIf="showIframeSandbox && isValidHttpUrl(value)">
    <iframe class="iframe-control" sandbox="allow-forms allow-scripts allow-modals allow-popups allow-same-origin" [src]="urlSafe" [style.height.px]="iframeHeightStyle"></iframe>
  </ng-container>

  <ng-container *ngIf="showIframeSandboxStrict && isValidHttpUrl(value)">
    <iframe class="iframe-control" sandbox="allow-forms allow-scripts allow-modals allow-popups" [src]="urlSafe" [style.height.px]="iframeHeightStyle"></iframe>
  </ng-container>
</div>
