@import "global-styles/variables";
@import '~ngx-toastr/toastr.css';


// COMMON STYLES
.two-children-flex {
  display: flex;
  min-width: 500px;
  padding: 20px 20px 20px;
  border-bottom: 1px solid $LIGHT_GRAY_COLOR;
  align-items: center;
  justify-content: flex-start;

  label {
    color: $PURPLE_COLOR;
  }

  @media (max-width: 1040px) {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    padding: 20px 0;
  }
}

/**
 * The positional 50% is relative to the container, while the transform 50% is relative to its own height, so this pushes
 * the element down to the bottom half of the container, then nudges it back up so the element's center aligns with the
 * container's center
 */
.center-vertical {
    position: relative;
    top: 50%;

    transform: translateY(-50%);
}

/**
 * I have separated these so that the user can determine the extent to which the style needs to apply in context
 */
.center-vertical-important {
  position: relative;
  top: 50% !important;

  transform: translateY(-50%) !important;
}

.flex-vertical-center {
  align-items: center;
}

.two-children-flex > * {
  flex-basis: 50%;
  margin-right: 10px;

  @media (max-width: 1040px) {
    margin-bottom: 10px;
  }
}

.input-error {
  border-width: 1px;
  background-color: $WHITE_COLOR;
  border-style: solid;
  border-color: $PINK_COLOR;
}

.error-message {
  max-width: 796px;
  color: $ERROR_COLOR;
}

.error-color {
  color: $ERROR_COLOR;
}


.bold-values {
  font-weight: bold;
  color: $PURPLE_COLOR;
}

.nav-buttons {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
  width: 100%;
}

.max-350 {
  width: 350px;
}

.bold {
  font-weight: 600;
}

// INPUT AND SELECT COMPONENTS STANDARD STYLESpag
input, select {
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(28, 26, 29, 1);
  border: 1px solid $LIGHT_GRAY_COLOR;
  padding: 3px;
  margin: 0;
  flex: 1;
  text-overflow: ellipsis;
}

select {
  border: 1px solid $PURPLE_COLOR;
  height: 40px;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  resize: none;
  padding: 5px 2px;
  border: 1px solid $LIGHT_GRAY_COLOR;
}

// ANGULAR MATERIAL OVERRIDE
mat-spinner {
  margin: 20px auto;
}

:host ::ng-deep {
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none !important;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
}

.mat-form-field-flex {
    align-items: center !important;
}

.selected-list .c-list .c-token .c-label,
.pure-checkbox input[type="checkbox"] + label {
  font-size: 12px;
}

.mat-expansion-panel-content {
  font-size: 16px;
}

.table-url {
  color: rgba(71, 38, 155, 1);
}

// SPACING CSS
.mt-10 {
  margin-top: 10px;
}

.m-tb-10 {
  margin: 10px 0;
}

.mr-5 {
  margin-right: 5px ! important;
}

.mr-15 {
  margin-right: 15px ! important;
}

.mr-20 {
  margin-right: 20px ! important;
}


// RESET
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

h1, h2 {
  font-weight: 300;
}

h2 {
  font-size: 28px;
}

p {
  margin-top: 1rem;
}

.mat-error-move-up-10 {
  margin-top: -10px;
}

.mat-error-move-up-19 {
  margin-top: -19px;
}

app-fields-wrapper {
  textarea {
    font-size: 14px !important;
  }
}

.form-control {
  font-size: 14px !important;
}


//Scroll bar stylesheet
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.flex-row {
  display: flex;
  align-items: center;
}

.ml-20 {
  margin-left: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.pre-formatted {
  white-space: pre-wrap;
  font-size: 14px;
}

.auto-height {
  height: auto;
}

.is-loading {
  margin-top: -10px;
  text-align: left;
}

.checkbox-field {
  display: inline-flex;
  align-items: center;
}

.float-right {
  float: right;
}

.cinchy-images {
  height: 100px;

  &--min {
    height: 20px;
  }
}

.cinchy-images-large {
  height: 140px;

  &--min {
    height: 20px;
  }
}

.cinchy-images-small {
  height: 40px;

  &--min {
    height: 20px;
  }
}

.font-14 {
  font-size: 14px;
}

.font-22 {
  font-size: 22px;
}

.action-buttons {
  display: flex;
  gap: 20px;

  .no-bg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.mat-spinner.inside {
  animation: none !important;
}

.tooltip{
  left: -4px !important;
  font: 400 12px/16px Roboto,Helvetica Neue,sans-serif;
}

.tooltip-inner{
  max-width: 280px;
  text-align: left;
}

.tooltip-newline {
  text-align: center;
  white-space: pre-line;
}

/* Table-specific styling */
.ProseMirror {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 2px solid #ced4da;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0; right: 0; top: 0; bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }
  }
}

.tableWrapper {
  overflow-x: auto;
}

/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  img {
    max-width: 100%;
    height: auto;

    &.ProseMirror-selectednode {
      outline: 3px solid #68CEF8;
    }
  }

  li p {
    margin: 8px 0 0;
  }

  pre {
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      gap: 8px;
      margin-top: 8px;
    }

    label {
      display: inline-flex;
      flex: 0 0 auto;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }
}

.iframe-control{
  width:100%;
  border: 0;
}

.toast-container .ngx-toastr {
  padding: 15px;
  width: 360px;

  &.toast-error {
    background-image: none;
  }

  &.toast-info {
    background-image: none;
  }

  &.toast-success {
    background-image: none;
  }

  &.toast-warning {
    background-image: none;
  }
}
