<div class="form-container" *ngIf="formSectionsMetadata">
  <cinchy-dynamic-forms class="full-height-element"
                        [formId]="formId"
                        [rowId]="null"
                        [formMetadata]="formMetadata"
                        [formSectionsMetadata]="formSectionsMetadata"
                        [lookupRecords]="lookupRecords"
                        [addNewFromSideNav]="true"
                        (closeAddNewDialog)="closeDialog($event)">
  </cinchy-dynamic-forms>
</div>
