:host ::ng-deep {
  mat-form-field {
    width: 470px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-select-arrow-wrapper {
    visibility: hidden;
  }
}

.search-input-icon {
  position: relative;
  left: -0.75rem;
}
