<mat-form-field>
  <mat-label>Search Records</mat-label>
  <mat-select [formControl]="selectCtrl" #singleSelect (selectionChange)="optionSelected($event)">
    <mat-option>
      <ngx-mat-select-search [formControl]="filterCtrl"
        placeholderLabel="Search..."
      >
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let item of displayItems" [value]="item" [title]="item?.label">
      {{ item?.label }}
    </mat-option>
    <mat-option *ngIf="hasAdditionalRecords" disabled>
      Refine your search to see other options
    </mat-option>
  </mat-select>
  <div matSuffix>
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
</mat-form-field>
