<div class="typeahead-wrapper" [ngClass]="{'without-read-only': !showReadOnly}">
  <mat-form-field class="typeahead" appearance="outline">
    <mat-label>{{customPlaceholder}}
    </mat-label>
    <mat-icon *ngIf="charactersAfterWhichToShowList" class="info-icon"
              [matTooltip]="toolTipMessage"
              matTooltipClass="tool-tip-body"
              matTooltipPosition="after"
              aria-label="Button that displays a tooltip when focused or hovered over">
      error
    </mat-icon>
    <div class="search-input">
      <input type="text" matInput
             [attr.aria-label]="customPlaceholder"
             [formControl]="myControl"
             [matAutocomplete]="auto"/>
      <mat-icon>search</mat-icon>
    </div>

    <mat-autocomplete #auto="matAutocomplete"
                      (optionSelected)="onContactSelected($event.option.value)"
                      [displayWith]="displayFn">
      <ng-container *ngIf="(myControl.value && myControl.value.length > charactersAfterWhichToShowList)">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          <a href="javascript:void(0)" *ngIf="option['id']==='addNewItem';else otherOptions">
            {{option['fullName']}}
          </a>

          <ng-template #otherOptions>
            {{option['fullName']}}
          </ng-template>
        </mat-option>
      </ng-container>
    </mat-autocomplete>

    <mat-icon *ngIf="showToolTip" class="info-icon" matTooltip="Please type at least 4 characters to see the dropdown list of item.
              You have to select from the dropdown to update this field"
              matTooltipClass="tool-tip-body"
              matTooltipPosition="after"
              aria-label="Button that displays a tooltip when focused or hovered over">
      error
    </mat-icon>
  </mat-form-field>
</div>
