.typeahead-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid gainsboro; // Can be configured

  .typeahead {
    flex-basis: 40%;
    @media (max-width: 1040px) {
      flex-basis: 100%;
    }
  }

  &.without-read-only {
    border: none;
    padding: 0;

    .typeahead {
      flex-basis: 50%;
    }
  }

  .selected-read-only {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    span {
      margin-bottom: 8px;
    }
  }

  &.no-border {
    border: none;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  mat-label {
    color: rgba(71, 38, 155, 1);
  }

  .mat-focused mat-label {
    font-size: 18px;
  }

  .add-new-item {
    color: red;
  }

  .info-icon {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: -40px;
    color: rgba(71, 38, 155, 1);
  }
}

.tool-tip-body {
  background: #b71c1c;
}

.search-input {
  position: relative;

  input {
    padding-right: 25px;
  }

  mat-icon {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 24px;
  }
}
